@charset "utf-8";

/* Horizontal Navigation Styles */

body > header > nav.horizontalNavigation li{
	width: 20%; 
}

nav.horizontalNavigation li {
	display: block;
	float: left;
}
nav.horizontalNavigation a {
	display: block;
	text-align: center;
}

/* Table Home Page */ 

table.home {
	background: #ffe6e6;
	border: 10px outset #ffcc99;
	font: 0.75em;
	width: 100%
}
table.home th {
	text-align: center;
}

table.home td {
	text-align: center;
	padding: 10px
}

