@charset "utf-8";
/* Column Set */ 

.columns {
	column-count: 2;
	column-gap: 3em;
	break-after: column;
}

p{
	margin-top: 0;
}

div{
	column-rule: 2px solid gray;
	column-width: 200px;
}
div.columns {
	column-width: 200px;
	orphans: 10;
	break-before: auto;
}

body > div{
	background: #ffe6e6;
	border: 10px outset #ffcc99;
	font: 0.75em;
	height: auto;
	padding: 20px;
	width: auto;
}

/* Video sizing */ 

iframe {
	height: auto;
	width: 100%;
	column-span: all;
}